@import '@variables';

.container {
  display:flex;
  padding: 10px;
  align-items: center;
}

.Box2 {
  flex-grow: 1;
  justify-content: center;
}

.headerWrapper {
  position: relative;
}

.Header {
  background: $main-blue !important;
}

.Header {
  a {
    .Btn {
      color: $header-link-color;
      cursor: pointer;
    }
  }
}

.vstuIcon {
    max-width: 150px;
  @media screen and (max-width: 900px) {
    & {
      margin: auto;
    }
  }
}

.box {
  justify-content: center;
}

.burger-menu {
  display: none;
}



