@import '@variables';

.employeesItem {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 4px;
  gap: 10px;
  scroll-snap-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

  .btnGroup {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
  }
