@import '@variables';

.FileItem {
    display: flex;

    gap: adaptiveSize(20, 10);
    align-items: center;
}

.icon {
    height: 30px;
}
.fileName {
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.download-button,
.delete-button {
    width: max-content;
    outline: none;
    border: none;
    background: transparent;
    @include font-14;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: adaptiveSize(10, 5);
    cursor: pointer;

}

.download-button {
    color: green;
}

.delete-button {
    color: red;
}
